<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex,nofollow" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Craveates - when you crave</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container" style="padding:0.3em 0em 0.3em 0em;">
                <div class="navbar-header sitebg" style="min-height:75px;height:75px;width:100%;">
                    <a href='javascript:void(0);' style="margin-top:5px;margin-bottom:5px;display:block;">
                        <img src='@Url.Content("~/Content/images/CraveatsNewText_215x65.png")' />
                    </a>
                </div>
            </div>
        </div>
        <div class="container body-content" style="margin-top:3em;">
            @RenderBody()
            <hr />
            <footer class="sitebg" style="padding-top:0.4em;padding-bottom:0.1em;">
                <p>&copy; @DateTime.Now.Year - Craveats - when you crave</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
